<%- include('partials/head') %>
<%- include('components/navbar') %>

<main class="pt-24 pb-12 m-auto max-w-7xl p-4">
    <div class="flex flex-col items-center">
        <h1 class="font-extrabold text-2xl text-gray-300 mb-9">ITEMS LIST</h1>
        <form action="/add" method="POST" class="flex gap-2">
            <input class="bg-slate-800 rounded-lg p-2" type="text" name="newItem" placeholder="New item">
            <button class="bg-blue-600 rounded-lg hover:bg-blue-700 px-4 text-gray-200" type="submit">Add</button>
        </form>
        <div id="editFormContainer" style="display: none;">
            <form class="mt-9 flex gap-2" id="editForm" action="/edit" method="POST">
                <input type="hidden" id="editIndex" name="editIndex" value="">
                <input class="w-full bg-slate-800 rounded-lg p-2" type="text" id="editItem" name="editItem" placeholder="Edit item">
                <button class="bg-yellow-600 rounded-lg hover:bg-yellow-700 py-2 px-4 text-gray-200" type="submit">Save</button>
            </form>
        </div>
        <div class="mt-4 flex flex-col max-w-lg m-auto bg-slate-800 p-4 rounded-lg w-full">
            <% items.forEach((item, index) => { %>
                <div class="flex justify-between items-center mb-2">
                    <p><%= item %></p>
                    <div class="flex gap-2">
                        <button class="bg-yellow-600 rounded-lg hover:bg-yellow-700 px-3 py-1 text-gray-200" onclick="showEditForm('<%= item %>', <%= index %>)">Edit</button>
                        <form action="/delete/<%= index %>" method="POST">
                            <button class="bg-red-600 rounded-lg hover:bg-red-700 px-3 py-1 text-gray-200" type="submit">Delete</button>
                        </form>
                    </div>
                </div>
            <% }) %>
        </div>    
    </div>
</main>

<%- include('partials/footer') %>